# Python and Bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Python Build and Distribution
dist/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
.venv/

# Testing
.pytest_cache/
coverage/
*.cover
.hypothesis/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Operating Systems
# Windows
Thumbs.db
Desktop.ini
# macOS
.DS_Store

# Logs
*.log
logs/

# Environment Variables
.env
.env.local
.env.*.local
.snapshots

# Project-Specific
.old/
installer/
NetSpeedTray-Portable/
NetSpeedTray-Portable.zip
checksums.txt
config.json
NetSpeedTray.ico
installer.iss.bak
installer.iss
release-template.txt

# Explicitly Included Files
!requirements.txt
!screenshots/
!screenshots/*.png
- user files -.lnk
.flake8
build_log.txt
.snapshots/readme.md
.snapshots/sponsors.md
src/structure.txt
src/.snapshots/readme.md
src/.snapshots/sponsors.md
.gitignore
- user files (work) -.lnk
